.myDiv {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  border: 5px outset white;
  background-color: lightblue;
  text-align: center;
    scroll-behavior: auto;


}
.newdiv{

  background-color:red;
  border:5px outset black;

}

.new{
  background-color: lightyellow;
height:100px;
positio:fixed;

}
.

body{
  background-color: powderblue;

}

h1{
  color:black;
}
h2{
  color: #33DDFF;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;


  width: 5%;
}
div{
}
.circular{
  border-radius: 100%;
}
